header
    .container
        .header-top
            .weather-container
                .weather-info İSTANBUL 
                    span 28°C / 20°C
                i Parçalı bulutlu, güneşli
            .logo-container
                .main-logo
                .date-info 9 Temmuz 2022 Perşembe / 8 ZilHicce 1443
            .time-container
                .change-theme#themechange
                 i.ficon.ficon-night
                 span Gece Modu
                .time-info İSTANBUL 
                    span#countdown 01:15:41
                i Yatsı kalan süre
        nav
            .nav-items
                a(href='#').nav-item SON DAKİKA
                a(href='#').nav-item GÜNCEL
                a(href='#').nav-item DÜNYA
                a(href='#').nav-item EKONOMİ
                a(href='#').nav-item SPOR
                a(href='#').nav-item YAŞAM
                a(href='#').nav-item BİLİM-TEKNOLOJİ
                a(href='#').nav-item AÇIK GÖRÜŞ
                a(href='#').nav-item YAZARLAR
    .header-bottom-bar
        .container
            .header-exchange-items
                a(href='#').exchange-item DOLAR 
                    span 17,2725
                a(href='#').exchange-item EURO 
                    span 17,5879
                a(href='#').exchange-item ALTIN 
                    span 965.586
                a(href='#').exchange-item BIST100 
                    span 2425.56
            .header-buttons
                .header-media
                    a(href='#').header-btn
                        i.ficon.ficon-gallery
                        span FOTO GALERİ
                    a(href='#').header-btn
                        i.ficon.ficon-videogallery
                        span VİDEO GALERİ
                    a(href='#').header-btn
                        i.ficon.ficon-live
                        span CANLI YAYIN
                .social-items
                    a(href="#").social-item
                        i.ficon.ficon-facebook
                    a(href="#").social-item
                        i.ficon.ficon-twitter
                    a(href="#").social-item
                        i.ficon.ficon-instagram
                    a(href="#").social-item 
                        i.ficon.ficon-youtube
                .search-btn
                    i.ficon.ficon-search