.homepage
    .breaking-news
        .container
            a(href='#').breaking-btn  SON DAKİKA
            .breaking-items
                .swiper-wrapper
                    .swiper-slide
                        a(href='#').breaking-item
                            span 01:26
                            .breaking-description Zonguldak'ta korkunç kaza: 1 ölü, 7 yaralı
                    .swiper-slide
                        a(href='#').breaking-item
                            span 00:55
                            .breaking-description 15 Temmuz Demokrasi Otogarı'nda yoğunluk devam ediyor
                    .swiper-slide
                        a(href='#').breaking-item
                            span 00:53
                            .breaking-description Bakan Bilgin'den zamlı memur maaşı paylaşımı
                    .swiper-slide
                        a(href='#').breaking-item
                            span 00:47
                            .breaking-description Norveç, Kuzey İrlanda'yı farklı yendi
                    .swiper-slide
                        a(href='#').breaking-item
                            span 00:26
                            .breaking-description Bakan Kurum: 16 Milyon İstanbullu için çalışmaya devam edeceğiz!
                    .swiper-slide
                        a(href='#').breaking-item
                            span 00:23
                            .breaking-description Antalyaspor'un kuruluş yıl dönümü coşkuyla kutlandı
                    .swiper-slide
                        a(href='#').breaking-item
                            span 00:22
                            .breaking-description Tekirdağ'da korkunç kaza: 12 yaralı
                    .swiper-slide
                        a(href='#').breaking-item
                            span 00:10
                            .breaking-description Kuştepe sakinleriyle polisler arasında dostluk maçı
                    .swiper-slide
                        a(href='#').breaking-item
                            span 23:59
                            .breaking-description KKTC Cumhurbaşkanı Ersin Tatar, Elisa Ferreira'yı kabul etti
                    .swiper-slide
                        a(href='#').breaking-item
                            span 23:56
                            .breaking-description 'Çin'in komuta kontrol mekanizmasını hedef alacağız'
                    .swiper-slide
                        a(href='#').breaking-item
                            span 23:35
                            .breaking-description Biden: İngiltere ile yakın iş birliğini sürdürmeyi bekliyoruz
                    .swiper-slide
                        a(href='#').breaking-item
                            span 23:34
                            .breaking-description İtalya'da yaşanan felakette ölü sayısı 10'a yükseldi
                    .swiper-slide
                        a(href='#').breaking-item
                            span 23:25
                            .breaking-description Pakistan'dan Hint ordusuna ret
                    .swiper-slide
                        a(href='#').breaking-item
                            span 23:25
                            .breaking-description Salernitana, Eric Botheim'ı kadrosuna kattı
                    .swiper-slide
                        a(href='#').breaking-item
                            span 23:22
                            .breaking-description Arnavutluk, İsveç ve Finlandiya'nın NATO'ya katılımını onayladı
    .container
        .home-topnews
            .swiper-wrapper
                .swiper-slide
                    .topnews-image-area
                        a(href="#") 
                            img(src="https://imgs.stargazete.com/imgsdisk/2022/07/08/bakan-cavusoglu-g20-disis-650.jpg" alt="Türkiye damgasını vurdu! Bakan Çavuşoğlu: Herkes imzaladığımız mutabakatı konuşuyor")
                            h2 Türkiye damgasını vurdu! Bakan Çavuşoğlu: Herkes imzaladığımız mutabakatı konuşuyor
                .swiper-slide
                    .topnews-image-area
                        a(href="#") 
                            img(src="https://imgs.stargazete.com/imgsdisk/2022/07/08/turkiye-ve-israil-imzayi--498.jpg" alt="Türkiye ve İsrail imzayı attı! 1951'deki anlaşmanın yerine geçecek")
                            h2 Türkiye ve İsrail imzayı attı! 1951'deki anlaşmanın yerine geçecek
                .swiper-slide
                    .topnews-image-area
                        a(href="#") 
                            img(src="https://imgs.stargazete.com/imgsdisk/2022/07/08/4-petrol-sahasi-daha-var--981.jpg" alt="4 petrol sahası daha var! Türkiye yeni keşiflere hız verdi")
                            h2 4 petrol sahası daha var! Türkiye yeni keşiflere hız verdi
                .swiper-slide
                    .topnews-image-area
                        a(href="#") 
                            img(src="https://imgs.stargazete.com/imgsdisk/2022/07/08/amsterdam-fetonun-silah-t-521.jpg" alt="Amsterdam: FETÖ'nün silah ticareti işine bulaştığını tahmin ediyorum")
                            h2 Amsterdam: FETÖ'nün silah ticareti işine bulaştığını tahmin ediyorum
                .swiper-slide
                    .topnews-image-area
                        a(href="#") 
                            img(src="https://imgs.stargazete.com/imgsdisk/2022/07/07/abdden-turkiyeye-f-16-sat-287.jpg" alt="ABD'den Türkiye'ye F-16 satışı hakkında yeni açıklama")
                            h2 ABD'den Türkiye'ye F-16 satışı hakkında yeni açıklama

            .topnews-pagination
                a(href="#").topnews-pageitem.active
                    img(src="https://imgs.stargazete.com/imgsdisk/maintmps/2022/07/08/bakan-cavusoglu-g20-disis-200_2-53.jpg" alt="Türkiye damgasını vurdu! Bakan Çavuşoğlu: Herkes imzaladığımız mutabakatı konuşuyor").pageitem-img
                    h5 Türkiye damgasını vurdu! Bakan Çavuşoğlu: Herkes imzaladığımız mutabakatı konuşuyor
                a(href="#").topnews-pageitem
                    img(src="https://imgs.stargazete.com/imgsdisk/maintmps/2022/07/08/turkiye-ve-israil-imzayi--403_2-53.jpg" alt="Türkiye ve İsrail imzayı attı! 1951'deki anlaşmanın yerine geçecek").pageitem-img
                    h5 Türkiye ve İsrail imzayı attı! 1951'deki anlaşmanın yerine geçecek
                a(href="#").topnews-pageitem
                    img(src="https://imgs.stargazete.com/imgsdisk/maintmps/2022/07/08/4-petrol-sahasi-daha-var--790_2-53.jpg" alt="4 petrol sahası daha var! Türkiye yeni keşiflere hız verdi").pageitem-img
                    h5 4 petrol sahası daha var! Türkiye yeni keşiflere hız verdi
                a(href="#").topnews-pageitem
                    img(src="https://imgs.stargazete.com/imgsdisk/maintmps/2022/07/08/amsterdam-fetonun-silah-t-521_2-53.jpg" alt="Amsterdam: FETÖ'nün silah ticareti işine bulaştığını tahmin ediyorum").pageitem-img
                    h5 Amsterdam: FETÖ'nün silah ticareti işine bulaştığını tahmin ediyorum
                a(href="#").topnews-pageitem
                    img(src="https://imgs.stargazete.com/imgsdisk/maintmps/2022/07/07/abdden-turkiyeye-f-16-sat-287_2-53.jpg" alt="ABD'den Türkiye'ye F-16 satışı hakkında yeni açıklama").pageitem-img
                    h5 ABD'den Türkiye'ye F-16 satışı hakkında yeni açıklama
        